@font-face {
    font-family: Arabian Night;
    src: url("fonts/xxii-arabian-onenightstand/XXII ARABIAN-ONENIGHTSTAND.ttf");
}

@font-face {
    font-family: Google-Roboto;
    src: url("fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: Playfair;
    src: url("fonts/Playfair_Display/PlayfairDisplay-Black.ttf");
}


#choose-book, body {
    margin:0;
    padding: 0;
}

#intro, .storyline, #sources {
    font-family: Google-Roboto;
    font-size: 20px;
    font-weight: normal;
    margin-left: 0px;
    margin-right: 0px;
}

h6 {
    font-family: Playfair;
    font-size: 30px;
    color: #eb5f6c;
}

#color-title {
    margin-top: 150px;
}

.opening {
    position: relative;
    text-align: center;
    color: white;
}

.storyline, #color-vis{
    text-align: center;
    font-kerning: auto;
}

#title {
    font-family: "Arabian Night";
    text-transform: uppercase;
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    color: floralwhite;
    position: absolute;
    top: 8px;
    right: 16px;
    background-color: #F19B68;
    text-align: center;
}

#bookmark {
    max-width: 50%;
}

#intro {
    margin-top: 150px;
    margin-bottom: 55px;
}

#instructions {
    color: #e8b923;
    -webkit-text-stroke: 0.05px black;
    margin-top: -50px;
}

#book-selection,  #vis2-img  {
    background-image: url("../img/table.jpg");
    display: block;
    background-repeat: repeat;
    margin-top: 35px;
}

#vis2-img {
    background-image: none;
}

#color-directions, #symbol-directions {
    background-color: #f797a1;
    color: white;
}

#choice-explanation {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#symbol-vis-img, #vis2-img {
    height: 500px;
}

#symbols-container {
    margin-top: 50px;
}

#sources-and-credits {
    font-size: 14px;
    margin-top: 100px;
    background-color: #f5e9c0;
    margin-left: 0px;
}

#about-project, #sources {
    margin-left: 50px;
    text-align: left;
}

#about-project {
    font-size: 16px;
}

#sources {
    font-family: Google-Roboto;
    font-size: 14px;
    font-style: italic;
}

.tooltip, .data-label, .y-axis, .tree-labels, .genre-name, #genre-select, label pre {
    font-family: Google-Roboto;
    font-size: 14px;
    font-style: normal;
}

.tooltip {
    background-color: rgba(214, 214, 214, .7);
    padding: 3px;
}

.form-group {
    margin-left: 30px;
}

.tree-labels, .genre-name {
    font-size: 16px;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
}

label pre {
    font-size: 18px;
}
.y-axis {
    font-size: 12px;
}

.book-covers {
    width: 146px;
    height: 220px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row1, .row2{
    margin-left: 20px;
    margin-right: 0px;
}

hr {
    margin-top: -25px;
    margin-bottom: 0;
}

/*Color View Styles*/

.genre-label {
    font-family: Helvetica; /*TO BE REPLACED BY THE DEFAULT FONTS   */
    font-size: 15px;
    fill: grey;
}

#legend-title {
    font-family: Helvetica; /*TO BE REPLACED BY THE DEFAULT FONTS   */
    font-size: 18px;
    fill: #A0A0A0;
    text-decoration-line: underline;
}

.legend-details {
    font-family: Helvetica; /*TO BE REPLACED BY THE DEFAULT FONTS   */
    font-size: 15px;
    color: #D0D0D0;
    font-style: italic;
}

.d3-tip-circles {
    font-family: Helvetica; /*TO BE REPLACED BY THE DEFAULT FONTS   */
    font-size: 15px;
    color: grey;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius : 10px;
}

.tooltip-percent{
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}

.legend-arrow-text {
    font-family: Helvetica; /*TO BE REPLACED BY THE DEFAULT FONTS   */
    font-size: 12px;
    fill: #D0D0D0;
    font-style: italic;
}

.faded {
    opacity: 0.2;
}

.legend{
    opacity: 1;
}

.sub_circle:hover{
    fill: #A8A8A8;
}

.colorcircle:hover{
    opacity: 0.6;
}

.sub_circle,.colorcircle{
    cursor: pointer;
}

.y_axis path{
    stroke: #DCDCDC;
}
.x_axis path{
    stroke: #DCDCDC;
}