@font-face {
    font-family: Arabian Night;
    src: url("fonts/xxii-arabian-onenightstand/XXII ARABIAN-ONENIGHTSTAND.ttf");
}

@font-face {
    font-family: Google-Roboto;
    src: url("fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: Playfair;
    src: url("fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: Zilla-Slab;
    src: url("fonts/ZIlla_Slab/ZillaSlab-Regular.ttf");
}

html,body, #main-col, #main-row {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.row {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.step {
    width:100%;
    min-height:100vh;
}

.storyline{
    font-family: Google-Roboto;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    font-kerning: auto;
    margin: 10px 0px 20px;
}

#header-img {
    width: 100%;
    border: #2F354C solid 7px;
    border-style: none none solid none;
}

h1 {
    font-family: "Arabian Night";
    font-size: 64px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    background-color: white;
    margin-top: -150px;
    border: #2F354C solid 2px;
    padding: 25px;
}
 h5 {
     font-family: Zilla-Slab;
     font-size: 24px;
     text-align: center;
 }

 emp {
     -webkit-text-stroke: 0.35px black;

 }


a, a:visited, a:active, #instructions {
    color: darkgray;
    -webkit-text-stroke: 0.3px black;
}
a:hover {
    color: #E3AD38;
    text-decoration: none;
}

#book-selection {
    background-image: url("../img/table.png");
    display: block;
}

.book-covers {
    width: 146px;
    height: 220px;
    text-align: center;
    display: block;
    margin: 25px auto;
}

#choice {
    margin-top: 50px;
    margin-bottom: 0px;
}
#selected-book-image {
    width: 50%;
    margin-top: 150px;
    margin-bottom: 0px;
}


.section-title {
    font-size: 32px;
    font-family: Zilla-Slab;
    margin-top: 50px;
    margin-bottom: 20px;
}

.outer-div {
    padding: 30px;
    text-align: center;
}

.inner-div {
    display: inline-block;
    padding: 50px;
}

/* Tree View Styling */
.tooltip, .data-label, .y-axis, .tree-labels, .genre-name,
    .book-display-labels, .select-box, #genre-select, label pre, span {
    font-family: Google-Roboto;
    font-size: 14px;
    font-style: normal;
}

.tooltip {
    background-color: rgba(214, 214, 214, .7);
    padding: 3px;
}

.form-group {
    margin-left: 30px;
}

.tree-labels, .genre-name {
    font-size: 16px;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
}

label pre {
    font-size: 18px;
}
.y-axis {
    font-size: 12px;
}


/*Color View Styles*/

.genre-label {
    font-family: Google-Roboto;
    font-size: 15px;
    fill: grey;
}

.legend-title {
    font-family: Zilla-Slab;
    font-size: 14px;
    fill: #A0A0A0;
}

.legend-details {
    font-family: Google-Roboto;
    font-size: 13px;
    color: #b0aeae;
    font-style: italic;
    text-align: center;
}

.d3-tip-circles {
    font-family: Google-Roboto;
    font-size: 15px;
    color: grey;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius : 10px;
}

.tooltip-percent{
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}

.legend-arrow-text {
    font-family: Google-Roboto;
    font-size: 12px;
    fill: #D0D0D0;
    font-style: italic;
}

.faded {
    opacity: 0.2;
}

.legend{
    opacity: 1;
}

.sub_circle:hover{
    fill: #A8A8A8;
}

.colorcircle:hover{
    opacity: 0.6;
}

.sub_circle,.colorcircle{
    cursor: pointer;
}

.y_axis path{
    stroke: #DCDCDC;
}
.x_axis path{
    stroke: #DCDCDC;

}
.stack-header{
    font-size: 40px;
    fill: grey;
}

/**/

.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
