@font-face {
    font-family: Arabian Night;
    src: url("fonts/xxii-arabian-onenightstand/XXII ARABIAN-ONENIGHTSTAND.ttf");
}

#intro, .storyline {
    font-family: Avenir;
    font-size: 20px;
    font-weight: normal;
    margin-left: 50px;
}

.opening {
    position: relative;
    text-align: center;
    color: white;
}

.storyline, #color-vis{
    text-align: center;
}

#title {
    font-family: "Arabian Night";
    text-transform: uppercase;
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    color: #e8b923;
    position: absolute;
    top: 8px;
    right: 16px;
    background-color: #F9E0D9;
    text-align: center;
}

#bookmark {
    max-width: 50%;
}

#intro {
    margin-top: 150px;
    margin-bottom: 55px;
}

#instructions {
    color: #e8b923;
    -webkit-text-stroke: 0.5px black;
    margin-top: -50px;
}

#book-selection,  #vis2-img  {
    background-image: url("../img/table.jpg");
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: repeat;
    margin-top: 35px;
}

#vis2-img {
    background-image: none;
}

#color-directions, #symbol-directions {
    margin-top: 125px;
    margin-left: 0px;
}

#choice-explanation {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#color-vis-img, #symbol-vis-img, #vis2-img {
    height: 500px;
}

#symbols-container {
    margin-top: 50px;
}

#sources-and-credits {
    font-size: 14px;
    margin-top: 100px;
    background-color: #EBD8EF;
    margin-left: 0px;
}

#about-project, #sources {
    margin-left: 50px;
    text-align: left;
}

#about-project {
    font-size: 16px;
}

#sources {
    font-family: Avenir;
    font-size: 14px;
    font-style: italic;
}

.book-covers {
    width: 146px;
    height: 220px;
    text-align: center;
}

/* 0.5 times the width of .book-covers*/
.row1{
    margin-left: 20px;
    margin-top: 25px;
    margin-right: 0px;
}

/* 1.5 times the width of .book-covers*/
.row2{
    margin-top: 10px;
    margin-left: 150px;
    margin-bottom: 25px;
    margin-right: 0px;
}

